.lista {
  min-width: 300px;
  max-width: 300px;
  height: max-content;
  background-color: khaki;
  border-left-style: dashed;
  border-right-style: dashed;
  margin: 10px;
  vertical-align: super;
  padding-bottom: 20px;
}
.karta {
  width: auto;
  height: max-content;
  background-color: magenta;
  /* border-left-style: dotted;
  border-right-style: dotted; */
  border-style: dotted;
  margin: 10px;
  vertical-align: super;
}
.card{
  background-color:blueviolet;
  min-width: 100%;
  min-height: 200px;
  display: flex;
  overflow-x: auto;
}

